<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>
  <% include ../partials/menu %>
  <div id="CameraBody">
    <h3 id="CameraBodyH3"><%= page %></h3>
    <div id="playCam">
      <div id="div-chat" style="overflow: hidden;">
        <p style="display:none;">Online user:</p>
        <ul id="ulUser" style="display:none;">
        </ul>
        <h3 id="my-peer" style="display:none;">Your Id: </h3>
        <video id="localStream" width="300" controls style="display:none;"></video>
        <video id="remoteStream" controls></video>
        <br /><br />
        <input type="text" id="remoteId" placeholder="Remote ID" style="display:none;">
        <button id="btnCall" style="display:none;">Call</button>
      </div>
      <div id="div-dang-ky" style="display:none;">
          <br /><br />
          <input type="text" id="txtUsername" placeholder="Enter your username">
          <button id="btnSignUp">Sign Up</button>
      </div>
    </div>
  </div>
</body>
<script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
<% include ../partials/script %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/cameraMain.js"></script>
</html>
