.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
#icon-options  {
  position: absolute;
  right: 20px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;

}

.navbar-nav li a {
    font-size: 20px;
}

.active>a {
  color: #1abc9c !important;;

}

.smart-home-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    text-align: left;
    width: 100%;
    min-height: 400px;
    background: #f7f7f7;
}

.smart-home-item .device-title {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background: lightblue;
}

.smart-home-item .device-info {
    padding: 10px;
    font-size: 14px;
}

.finger-user-item .finger-info {
    min-height: 253px;
}

.action-item .btn {
    text-transform: uppercase;
}

.specific {
    font-size: 24px;
    font-weight: bold;
}

.action-item .show-list-finger-user {
    padding: 14px;
}

.finger-user-item .action-item .btn {
    padding: 14px;
    min-width: 120px;
}

.home-btn {
    padding: 14px;
}
/************************************************
\************************************************\
    Button Login, logout in MENU 24/10/2019
\************************************************\
*************************************************/
.butLog {
    /* float: right;s */
    outline: 0;
    border: 0;
    /*background: blue;*/
    border-top: 1px ridge;
    margin-top: 0;
    color: navy;
}
.butLog button {
    display: inline-block;
    width: 100%;
    /* min-height: 20px; */
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: 0;
    outline: 0;
    border-radius: 2vw;
    font-family: Rockwell;
}
.butLog button:hover {

    color: blue;
}
/************************************************
\************************************************\
    Button camera
\************************************************\
*************************************************/
#btn-camera {
    box-sizing: border-box;
    max-width: 11vw;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 15px 15px;
    background: #5BC0DE;
    border-radius: 20px ;

}
#btn-camera a {
    display: block;
    max-width: 100%;
    text-decoration: none;
    font: 18px bold ;
    color: #ffffff;
}
#btn-camera:hover {
    background: rgb(76, 159, 228);
}
/************************************************
\************************************************\
    Set LAMP phan tram
\************************************************\
*************************************************/
.chel1chel2 {
    display: inline-block;
}
#che1, #che2, #che3, #che4
{
    margin: 0 10px;
    display: inline-block;
    background: lightblue;
    padding: 10px 0;
    text-align: center;
    width: 70px;
    border-radius: 20px;
}
/************************************************
\************************************************\
    Button Change Password, 24/10/2019
\************************************************\
*************************************************/
.container #butPas {
    outline: 0;
    border: 0;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 45px;
    margin-right: 0px;
}
.container #butPas #but-change-pass {
    display: inline-block;
    /* padding: .8vw 0 0 0; */
    font-family: Arial;
    font-size: 18px;
    color: navy;
    background: transparent;
    border: 0;
    outline: 0;
}
.container #butPas #but-change-pass:hover {
    color: blue;
}

#show-content {
    position: absolute;
    top: 100%;
    right: 0%;
    z-index: 9999;
    display: none;
    padding: 5px;
    min-width: 220px;
    background: white;
    border-radius: 10px;
    border-style:ridge;
}
#show-content span {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: octicons;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    color: black;
}
#show-content span:hover {
    color: blue;
    cursor: pointer;
}
/* ************************************* */
/* ************************************* */
#fix-block, #fix-block-edit {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    overflow: auto;
    background: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
}
#fix-block-ok, #fix-block-edit-ok {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 5px ;
    transform: translate(50%);
    width: 10vw;
    text-align: center;
    padding: 5px;
    background: #3eeeee;
    border: 1px solid black;
    border-radius: 5px;
}
#fix-block-ok:hover, #fix-block-cancel:hover,
#fix-block-edit-ok:hover, #fix-block-edit-cancel:hover {
    background: rgb(55, 97, 236);
    color: #fff;
    cursor: pointer;
}
#fix-block-content, #fix-block-edit-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    margin: auto;
    width: 50%;
    min-height: 50vh;
    padding: 50px;
    background: #3eb0dd;
    border: 5px solid lightgreen;
    border-radius: 5px;
}
#fix-block-cancel, #fix-block-edit-cancel {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 5px ;
    width: 20vw;
    text-align: center;
    padding: 5px;
    background: #3eeeee;
    border: 1px solid black;
    border-radius: 5px;
}
#info-user label, #info-user-edit label {
    display: inline-block;
    /* font-family: 'Times New Roman', serif; */
    letter-spacing: 0;
    font-size: 13px;
    font-weight: bold;
    width: 13vw;
    margin-top: 10px;
    margin-right: 2%;
}
#smarthome-page{
  width: 40vw;
  min-height: auto;

  padding: 5px;
  margin: auto;
}
#resetThisFinger {
  position: absolute;
  /* right: 0px;
  margin-right: 0px;
  top: 10px; */
  top: 10px;
  right: 0;
  border : none;
  outline: none;
  /* background:rgba(0, 0, 0, 0); */
  background: transparent;
  /* background-color: red; */
}
#deleteAllFinger {
  position: absolute;
  right:10px;
  border : none;
  outline: none;
  /* background:rgba(0, 0, 0, 0); */
  background: transparent;
}
#addNewUser {
  position: absolute;
  right:60px;
  /* background:rgba(0, 0, 0, 0); */
  /* background: #3eb0dd; */
  background: transparent;
  border : none;
  outline: none;
}
#searchFinger {
  position: absolute;
  right:120px;
  /* background:rgba(0, 0, 0, 0); */
  /* background: #3eb0dd; */
  background: transparent;
  border : none;
  outline: none;
}
#addNewUser:hover{
  color: #3eb0dd;
}
#deleteAllFinger:hover{
  color: red;
}
#resetThisFinger:hover {
  color: blue;
}
#searchFinger:hover {
  color: green
}

@media screen and (max-width:766px) {
    #btn-camera {
        max-width: 50%;
    }
    .chel1chel2
    {
        display: block;
        margin: 10px 0;
    }
    #icon-options {
      z-index: 10;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
    #smarthome-page{
      width: 100vw;
      min-height: auto;
      margin: auto;
    }
    #show-content {
        position: absolute;
        top: 100%;
        left: 30%;
        display: none;
        padding: 5px;
        width: 50%;
        background: lightblue;
    }
    #fix-block-content {
        width: 80%;
    }
    #fix-block-edit-content {
        width: 80%;
    }
}
