<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body  style="background:url(./smart-homes/smart/background.jpg) no-repeat ;background-size: 100vw 100vh;">
<% include partials/menu %>
<div class="container-fluid text-center" style="margin-top:30vh">    
  <h3 style="color:#fff;font-weight:bold; font-size:25px;margin-bottom: 0px;"><%= page %></h3><br>
  <div>
    <div>
      <div class="text-center">
          <a href="/smart-homes" class="btn btn-info home-btn">Go To Smart Home Page</a>
      </div>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>