<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <div id="login">
        <section class="login__FlexWrapper-sc-1um38e4-0 hXJzej">
            <section class="login__LoginBox-sc-1um38e4-1 ihPbZy">
                <section class="wrapper-box__StyledWrapperBox-sc-9mf060-0 eUIxhJ">
                    <div class="content">
                        <h1>Welcome!</h1>
                        <p>Please login to proceed to the admin panel</p>
                    </div>
                    <div class="notification is-danger">Login: test@example.com, Password: password</div>
                    <form action="/admin/login" method="POST" style="margin-bottom:30px">
                        <div class="property-in-edit__Property-sc-1yqxq8u-0 iXaACQ"><label
                                class="label__StyledLabel-odgp9z-0 label cyHuTm" for="email">Your email</label>
                            <div class="control"><input type="text" name="email" id="email"
                                    placeholder="Your Email Address" class="input" oninput="adminInput()"></div>
                        </div>
                        <div class="property-in-edit__Property-sc-1yqxq8u-0 iXaACQ"><label
                                class="label__StyledLabel-odgp9z-0 label cyHuTm" for="password">Password</label>
                            <div class="control"><input type="password" name="password" id="password"
                                    placeholder="Password" class="input" oninput="adminInput()"></div>
                        </div><button
                            class="is-primary is-fullwidth styled-button__StyledButton-sc-27o4jb-0 button cuXEvV"
                            type="button" style="margin-top:40px" onclick="adminLogin()">Login</button>
                        <h6 id="Error"></h6>
                    </form>
                </section>
            </section>
        </section>
    </div>
</body>
<% include partials/script %>

</html>
