<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
</head>

<body>
  <% include ../partials/menu %>
  <div class="container bg-3 text-center">
    <h3 style="color:red; font-size: 50px; font-family: Cairo">
      <%= page %>
    </h3><br>
    <div class="row">
      <% for (item in smartHomeList) { %>
      <div class="col-md-6 col-xs-12">
        <div class="smart-home-item" >
          <div class="device-title">
            <span>
              <%= smartHomeList[item].name %></span>
          </div>
          <div class="device-info">
            <img src="../smart-homes/smart/smart_home.png" style="display:block;max-width:50%;margin: auto;">
          </div>
          <div class="text-center action-item">
            <a href="/smart-homes/<%= smartHomeList[item].smarthome_id %>" class="btn btn-info">Show Devices</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
<% include ../partials/script %>

</html>
