#wrapper-0 {
    background: white;
    height: 100vh;
    overflow: auto;
}
#table-user th, td {
    outline: 1px solid black;
    outline-offset: -1px;
    border: none;
}
#table-user table {
    outline: 1px solid black;
    width: 100%;
    background: white;
    overflow: auto;
}
#table-user td {
    padding: 1px !important;
    font-size: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
}
#table-user thead th{
    position: sticky;
    top: 0;
    padding: 3px;
    background: #4CAF50;
    outline: 1px solid black;
    outline-offset: -1px;
    border: none;
}
#table-user {
    color: black;
    padding: 0;
    margin: 0;
    width: 99%;
    margin: auto;
    max-height: 80%;
    overflow: auto;
}

#icon-setting ,#icon-edit,#icon-trash {
    margin: 4px;
    font-size: 18px;
}
#newUser {
    margin:8px 0 0 5px;
    width: 20vw;
    background: #3eb0dd;
    border: none;
    outline: none;
    border-radius: 2px;
}
#table-user #btnEdit:hover {
    width: 100%;
    background: rgb(55, 97, 236);
}
#id-search input{
    display: block;
    width: 99%;
    margin: auto;
}
#luachon {
    width: 10vw;
}
/* ********************************************** */
/* *********************Cửa sổ Hiện lên********** */
/* ********************************************** */
#fix-block {
    position: absolute;
    top: 0;
    height: 100vh;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    overflow: auto;
}

#fix-block-ok {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 5px ;
    transform: translate(50%);
    width: 10%;
    text-align: center;
    padding: 5px;
    background: #3eeeee;
    border: 1px solid black;
    border-radius: 5px;
}
#fix-block-ok:hover {
    background: rgb(55, 97, 236);
    color: #fff;
    cursor: pointer;
}

#fix-block-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    margin: auto;
    width: 99%;
    min-height: 50vh;
    padding: 50px;
    background: #3eb0dd;
    border: 5px solid lightgreen;
    border-radius: 5px;
}
/* ********************************************** */
/* *********************Cửa sổ Add new User Hiện lên********** */
/* ********************************************** */
#fix-block-create-user {
    position: absolute;
    top: 0;
    height: 100vh;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    overflow: auto;
}
#fix-block-user-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    margin: auto;
    width: 99%;
    min-height: 50vh;
    padding: 50px;
    background: #3eb0dd;
    border: 5px solid lightgreen;
    border-radius: 5px;
}
#fix-block-user-ok {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 5px ;
    transform: translate(50%);
    width: 10%;
    text-align: center;
    padding: 5px;
    background: #3eeeee;
    border: 1px solid black;
    border-radius: 5px;
}
#fix-block-user-ok:hover {
    background: rgb(55, 97, 236);
    color: #fff;
    cursor: pointer;
}
#info-create-user label {
    display:inline-block;
    width:10%;
    margin-right: 20px;
}
#content-gender-user input:last-child {
    margin-left: 10px;
}
/* ********************************************** */
/* *********************Cửa sổ Edit User Hiện lên********** */
/* ********************************************** */
#fix-block-edit-user {
    position: absolute;
    top: 0;
    height: 100vh;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    overflow: auto;
}
#fix-block-edit-user-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: 0; */
    overflow: auto;
    /* margin: auto; */
    margin: auto;
    /* margin-top: 10%; */
    width: 99%;
    min-height: 50vh;
    padding: 50px;
    background: #3eb0dd;
    border: 5px solid lightgreen;
    border-radius: 5px;
}
#fix-block-edit-user-ok {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 5px ;
    transform: translate(50%);
    width: 10%;
    text-align: center;
    padding: 5px;
    background: #3eeeee;
    border: 1px solid black;
    border-radius: 5px;
}

#fix-block-edit-user-ok:hover {
    background: rgb(55, 97, 236);
    color: #fff;
    cursor: pointer;
}
#info-edit-user label {
    display:inline-block;
    width:20%;
    margin-right: 20px;
}
#edit-gender-user input:last-child {
    margin-left: 10px;
}
/* ********************************************** */
/* *********************Nút Cancel*************** */
/* ********************************************** */
#fix-block-cancel, #fix-block-user-cancel, #fix-block-edit-user-cancel {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    margin-bottom: 5px ;
    width: 20vw;
    text-align: center;
    padding: 5px;
    background: #3eeeee;
    border: 1px solid black;
    border-radius: 5px;
}
@media screen and (max-width:768px) {
    #newUser {
        width: 40vw;
    }
    #luachon {
        width: 25vw;
    }
    #fix-block-cancel, #fix-block-user-cancel, #fix-block-edit-user-cancel {
        display: block;
    }
}
